table.type08 {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-left: 1px solid #ccc;
	width:600px;
}

table.type08 thead th {
	padding: 10px;
	font-weight: bold;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 2px solid #c00;
	background: #dcdcd1;
}

table.type08 tbody th {
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #ececec;
}

table.type08 tbody td {
	/*width: 250px;*/
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.type08 tbody td input{
	width: 150px;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.setting_list {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	width:600px;
}

table.setting_list tbody td {
	width: 250px;
	padding: 10px;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

table.setting_list tbody td input{
	width: 240px;
}

table.setting_list tbody td textarea{
	width: 240px;
	height: 200px;
	padding: 10px;
	resize: none;
	vertical-align: top;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

input.checkbox {
	margin-bottom:10px;
	vertical-align: top;
}

table.horizontal_layout {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border: 0px 0px 0px 0px solid #FFFFFF;
	width:600px;
}

table.horizontal_layout tbody td {
	/*width: 250px;*/
	padding: 10px;
	border: 0px 0px 0px 0px solid #FFFFFF;
	vertical-align: top;
}

table.horizontal_layout tbody td input{
	width: 240px;
}

